.section-title {
  margin: 0 0 72px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  letter-spacing: -0.88px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 468px) {
  .section-title {
    margin-bottom: 60px;
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}