.about-project {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 110px;
}

.about-project__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.project-description__column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  row-gap: 26px;
}

.project-description__column:not(:last-of-type) {
  margin-right: 10px;
}

.description__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.8px;
}

.description__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42;
}

.about-ptoject__timeline-table {
  border-collapse: collapse;
  width: 100%;
}

.timeline-table__table-row {
  margin: 0;
  padding: 0;
  height: 36px;
}

.timeline-table__table-row_time {
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
}

.timeline-table__table-row_stek {}

.timeline-table__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.timeline-table__item_first-time {
  width: 228px;
  background-color: rgba(43, 224, 128, 1);
}

.timeline-table__item_stek {
  padding: 14px;
  font-weight: 500;
  line-height: 1.21;
  color: rgba(160, 160, 160, 1);
}

@media (max-width: 768px) {
  .about-project {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about-project__description {
    margin-bottom: 93px;
  }

  .project-description__column {
    row-gap: 22px;
  }

  .description__text {
    font-size: 12px;
    line-height: 1.5;
  }

  .timeline-table__item_first-time {
    width: 140px;
  }

  .timeline-table__item_stek {
    font-weight: 400;
  }
}

@media (max-width: 590px) {
  .about-project__description {
    flex-direction: column;
    row-gap: 56px;
  }
}

@media (max-width: 468px) {
  .about-project {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about-project__description {
    margin-bottom: 60px;

  }

  .project-description__column {
    margin: 0;
    row-gap: 16px;
  }

  .description__text {
    font-size: 12px;
    line-height: 1.5;
  }

  .timeline-table__item_first-time {
    width: 100px;
  }

  .timeline-table__item_stek {
    font-weight: 400;
  }

  .timeline-table__item {
    font-size: 11px;
  }

  .timeline-table__item_stek {
    padding: 10px;
    line-height: 1;
  }
}