.movie-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
  gap: 30px 24px;
}

.movie-list__item {
  margin: 0;
  padding: 0;
}