.techs {
  padding-top: 103px;
  padding-bottom: 100px;
  background-color: rgba(245, 245, 245, 1);
}

.techs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.techs__subtitle {
  margin: 0 0 24px;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -2px;
}

.techs__description {
  margin: 0 0 100px;
  padding: 0;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -0.56px;
  text-align: center;
}

.techs__stek-list {
  display: flex;
  column-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.techs__stek-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 10px;
  padding: 0;
  width: 90px;
  height: 60px;
  background-color: rgba(232, 232, 232, 1);
}

@media (max-width: 768px) {
  .techs {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .techs__content {
    padding-top: 20px;
  }

  .techs__subtitle {
    margin: 0 0 24px;
  }

  .techs__description {
    margin: 0 0 83px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.48px;
  }

  .techs__stek-item {
    width: 84px;
    height: 57px;
  }
}

@media (max-width: 590px) {}

@media (max-width: 468px) {
  .techs {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .techs__content {
    padding-top: 20px;
  }

  .techs__subtitle {
    font-size: 30px;
    line-height: 1;
    letter-spacing: -1.2px;
  }

  .techs__description {
    margin: 0 0 50px;
    padding: 0;
    max-width: 292px;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: -0.44px;
  }

  .techs__stek-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}