.register-page {
  margin: 0 auto;
  padding-top: 70px;
  height: 700px;
}

@media (max-width: 768px) {
  .register-page {
    padding-top: 232px;
    height: 1024px;
  }
}

@media (max-width: 320px) {}