.link {
  margin: 0;
  padding: 0;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.link_type_form {
  margin: 0 0 0 6px;
  text-decoration: none;
  color: rgba(255, 104, 56, 1);
}

.link_type_logo {
  width: 38px;
  height: 38px;
}

.link_type_nav {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.link_type_nav-white {
  color: rgba(255, 255, 255, 1);
}

.link_type_nav-black {
  color: rgba(0, 0, 0, 1);
}

.link_type_nav-is-logged {
  font-size: 13px;
  line-height: 1.38;
}

.link_type_nav-active {
  font-weight: 500;
}

.link_type_about {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.link_type_portfolio {
  margin: 0 0 0 auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 2;
  letter-spacing: -1.2px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .link_type_nav {
    font-weight: 500;
  }

  .link_type_nav-active {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 8px;
  }

  .link_type_nav-is-logged {
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
  }

  .link_type_portfolio {
    font-size: 28px;
    line-height: 2.14;
  }
}

.link_type_footer {
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.link_type_movie {
  text-decoration: none;
}

@media (max-width: 480px) {
  .link_type_portfolio {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -0.72px;
  }
}

@media (max-width: 384px) {
  .link_type_nav-active {
    padding-bottom: 7px;
  }
}